<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
        {% if schon_wach %}
            <title>Lukas ist schon wach</title>
        {% else %}
            <title>Lukas ist noch nicht wach</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='ilswlol.css') }}" type="text/css" media="all">
    </head>
    <body>
        {% if schon_wach %}
            <h1>JA</h1>
        {% else %}
            <h1>NEIN</h1>
        {% endif %}
    </body>
</html>
