server {
    listen  80;
    listen  [::]:80;
    server_name {{ site_url }};

    access_log  /var/log/nginx/{{ site_url }}/access.log;
    error_log   /var/log/nginx/{{ site_url }}/error.log;

    location / {
        proxy_pass http://localhost:8080/;
    }
}
