[uwsgi]
uid = http
gid = http
master = true
processes = 8
threads = 8
ksm = 10
vacuum = true
socket = /run/uwsgi/{{ site_url }}.sock
logto = /var/log/uwsgi/{{ site_url }}.log
plugins = python
module = ilswlol
callable = app
chdir = {{ site_path }}
home = {{ site_path }}/venv
cache2 = name=ilswlol,items=100
{% for envvar in envvars.split('\n') %}
env = {{ envvar }}
{% endfor %}
